{% extends "./base.njk" %}
{% block titulo %}
    Juegos | Listado
{% endblock %}
{% block contenido %}
    <div class="container">
        <form class="row g-3" action="/buscar" method="post">
            <div class="col-12 mt-5 mb-2">
                <label for="textoBusqueda" class="visually-hidden">textoBusqueda</label>
                <input type="text" name="textoBusqueda" class="form-control" id="textoBusqueda" placeholder="Juego a buscar"></div>
            </div>
            <div class="col-auto ms-2">
                <button type="submit" class="btn btn-primary mb-3">Buscar</button>
            </div>
        </form>
        {% for juego in juegos %}
            <div class="row m-1">
                <div class="col-6">{{ juego.nombre }}</div>
                <div class="col-auto">
                    <a class="btn btn-success" href="/juego/{{ juego.id }}">Ver ficha</a>
                </div>
                {% if (session and session.usuario) %}
                    <div class="col-auto">
                        <form action="/juego/borrar/{{ juego.id}}" method="post">
                            <button type="submit" class="btn btn-danger">Borrar</button>
                        </form>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-primary" href="/juego/editar/{{ juego.id }}">Editar</a>
                    </div>
                {% endif %}
            </div>
        {% else %}
            <div class="row">
                <div class="col-12">No hay juegos que mostrar.</div>
            </div>
        {% endfor %}
    {% endblock %}